In [147]:
import pypandoc
import requests
from bs4 import BeautifulSoup
import unicodedata
import re

In [148]:
output=pypandoc.convert_file('testdocs/Coordinates of a Point in Space.docx','html')
soup=BeautifulSoup(output,'html.parser')

In [149]:
print(soup.prettify())

<table>
 <colgroup>
  <col style="width: 49%"/>
  <col style="width: 50%"/>
 </colgroup>
 <tbody>
  <tr class="odd">
   <td>
    Division
   </td>
   <td>
    11
   </td>
  </tr>
  <tr class="even">
   <td>
    Subject
   </td>
   <td>
    Maths
   </td>
  </tr>
  <tr class="odd">
   <td>
    Category
   </td>
   <td>
    Very Easy
   </td>
  </tr>
  <tr class="even">
   <td>
    No of mcq
   </td>
   <td>
    15
   </td>
  </tr>
  <tr class="odd">
   <td>
    Author
   </td>
   <td>
    Auto Scrapper
   </td>
  </tr>
 </tbody>
</table>
<table>
 <colgroup>
  <col style="width: 100%"/>
 </colgroup>
 <tbody>
  <tr class="odd">
   <td>
    The point (4, 0, 0) lie on _____________
   </td>
  </tr>
  <tr class="even">
   <td>
    X-axis
   </td>
  </tr>
  <tr class="odd">
   <td>
    Y-axis
   </td>
  </tr>
  <tr class="even">
   <td>
    Z-axis
   </td>
  </tr>
  <tr class="odd">
   <td>
    Y-Z plane
   </td>
  </tr>
  <tr class="even">
   <td>
    1
   </td>
  </tr>
  <tr class="odd">
   <td>
   </td>
  </tr>
  <tr class="even">
   <td>
    In 3d coordinate system, a point with y and z coordinate zero and
x-coordinate having non-zero value must lie on x-axis. So, (4, 0, 0) lie
on x-axis.
   </td>
  </tr>
  <tr class="odd">
   <td>
    Three Dimensional Geometry
   </td>
  </tr>
 </tbody>
</table>
<table>
 <colgroup>
  <col style="width: 100%"/>
 </colgroup>
 <tbody>
  <tr class="odd">
   <td>
    The point (0, 0, 3) lie on ____________
   </td>
  </tr>
  <tr class="even">
   <td>
    X-axis
   </td>
  </tr>
  <tr class="odd">
   <td>
    Y-axis
   </td>
  </tr>
  <tr class="even">
   <td>
    Z-axis
   </td>
  </tr>
  <tr class="odd">
   <td>
    X-Y plane
   </td>
  </tr>
  <tr class="even">
   <td>
    3
   </td>
  </tr>
  <tr class="odd">
   <td>
   </td>
  </tr>
  <tr class="even">
   <td>
    In 3d coordinate system, a point with x and y coordinate zero and
z-coordinate having non-zero value must lie on z-axis. So, (0, 0, 3) lie
on z-axis.
   </td>
  </tr>
  <tr class="odd">
   <td>
    Three Dimensional Geometry
   </td>
  </tr>
 </tbody>
</table>
<table>
 <colgroup>
  <col style="width: 100%"/>
 </colgroup>
 <tbody>
  <tr class="odd">
   <td>
    The point (0, 2, 0) lie on _________
   </td>
  </tr>
  <tr class="even">
   <td>
    X-axis
   </td>
  </tr>
  <tr class="odd">
   <td>
    Y-axis
   </td>
  </tr>
  <tr class="even">
   <td>
    Z-axis
   </td>
  </tr>
  <tr class="odd">
   <td>
    X-Y plane
   </td>
  </tr>
  <tr class="even">
   <td>
    2
   </td>
  </tr>
  <tr class="odd">
   <td>
   </td>
  </tr>
  <tr class="even">
   <td>
    In 3d coordinate system, a point with x and z coordinate zero and
y-coordinate having non-zero value must lie on y-axis. So, (0, 2, 0) lie
on y-axis.
   </td>
  </tr>
  <tr class="odd">
   <td>
    Three Dimensional Geometry
   </td>
  </tr>
 </tbody>
</table>
<table>
 <colgroup>
  <col style="width: 100%"/>
 </colgroup>
 <tbody>
  <tr class="odd">
   <td>
    The point (0, 2, 4) lie on _________
   </td>
  </tr>
  <tr class="even">
   <td>
    X-Y plane
   </td>
  </tr>
  <tr class="odd">
   <td>
    Y-Z plane
   </td>
  </tr>
  <tr class="even">
   <td>
    X-Z plane
   </td>
  </tr>
  <tr class="odd">
   <td>
    X-axis
   </td>
  </tr>
  <tr class="even">
   <td>
    2
   </td>
  </tr>
  <tr class="odd">
   <td>
   </td>
  </tr>
  <tr class="even">
   <td>
    In 3d coordinate system, a point with x-coordinate zero and y &amp;
z coordinate having non-zero value must lie on Y-Z plane. So, (0, 2, 4)
lie on Y-Z plane.
   </td>
  </tr>
  <tr class="odd">
   <td>
    Three Dimensional Geometry
   </td>
  </tr>
 </tbody>
</table>
<table>
 <colgroup>
  <col style="width: 100%"/>
 </colgroup>
 <tbody>
  <tr class="odd">
   <td>
    The point (4, 2, 0) lie on _________
   </td>
  </tr>
  <tr class="even">
   <td>
    X-Y plane
   </td>
  </tr>
  <tr class="odd">
   <td>
    Y-Z plane
   </td>
  </tr>
  <tr class="even">
   <td>
    X-Z plane
   </td>
  </tr>
  <tr class="odd">
   <td>
    X-axis
   </td>
  </tr>
  <tr class="even">
   <td>
    1
   </td>
  </tr>
  <tr class="odd">
   <td>
   </td>
  </tr>
  <tr class="even">
   <td>
    In 3d coordinate system, a point with z-coordinate zero and x &amp;
y coordinate having non-zero value must lie on X-Y plane. So, (4, 2, 0)
lie on X-Y plane.
   </td>
  </tr>
  <tr class="odd">
   <td>
    Three Dimensional Geometry
   </td>
  </tr>
 </tbody>
</table>
<table>
 <colgroup>
  <col style="width: 100%"/>
 </colgroup>
 <tbody>
  <tr class="odd">
   <td>
    The point (3, 0, 4) lie on _________
   </td>
  </tr>
  <tr class="even">
   <td>
    X-Y plane
   </td>
  </tr>
  <tr class="odd">
   <td>
    Y-Z plane
   </td>
  </tr>
  <tr class="even">
   <td>
    X-Z plane
   </td>
  </tr>
  <tr class="odd">
   <td>
    X-axis
   </td>
  </tr>
  <tr class="even">
   <td>
    3
   </td>
  </tr>
  <tr class="odd">
   <td>
   </td>
  </tr>
  <tr class="even">
   <td>
    In 3d coordinate system, a point with y-coordinate zero and x &amp;
z coordinate having non-zero value must lie on X-Z plane. So, (3, 0, 4)
lie on X-Z plane.
   </td>
  </tr>
  <tr class="odd">
   <td>
    Three Dimensional Geometry
   </td>
  </tr>
 </tbody>
</table>
<table>
 <colgroup>
  <col style="width: 100%"/>
 </colgroup>
 <tbody>
  <tr class="odd">
   <td>
    Find the distance of point (2, 3, 5) from X-Y plane.
   </td>
  </tr>
  <tr class="even">
   <td>
    2 units
   </td>
  </tr>
  <tr class="odd">
   <td>
    3 units
   </td>
  </tr>
  <tr class="even">
   <td>
    5 units
   </td>
  </tr>
  <tr class="odd">
   <td>
    1 unit
   </td>
  </tr>
  <tr class="even">
   <td>
    3
   </td>
  </tr>
  <tr class="odd">
   <td>
   </td>
  </tr>
  <tr class="even">
   <td>
    We know, distance of a point from X-Y plane is equal to the value of
its z-coordinate.
    <br/>
    So, distance of point (2, 3, 5) from X-Y plane is 5 units.
   </td>
  </tr>
  <tr class="odd">
   <td>
    Three Dimensional Geometry
   </td>
  </tr>
 </tbody>
</table>
<table>
 <colgroup>
  <col style="width: 100%"/>
 </colgroup>
 <tbody>
  <tr class="odd">
   <td>
    Find the distance of point (2, 3, 5) from Y-Z plane.
   </td>
  </tr>
  <tr class="even">
   <td>
    2 units
   </td>
  </tr>
  <tr class="odd">
   <td>
    3 units
   </td>
  </tr>
  <tr class="even">
   <td>
    5 units
   </td>
  </tr>
  <tr class="odd">
   <td>
    1 unit
   </td>
  </tr>
  <tr class="even">
   <td>
    1
   </td>
  </tr>
  <tr class="odd">
   <td>
   </td>
  </tr>
  <tr class="even">
   <td>
    We know, distance of a point from Y-Z plane is equal to the value of
its x-coordinate.
    <br/>
    So, distance of point (2, 3, 5) from Y-Z plane is 2 units.
   </td>
  </tr>
  <tr class="odd">
   <td>
    Three Dimensional Geometry
   </td>
  </tr>
 </tbody>
</table>
<table>
 <colgroup>
  <col style="width: 100%"/>
 </colgroup>
 <tbody>
  <tr class="odd">
   <td>
    Find the distance of point (2, 3, 5) from X-Z plane.
   </td>
  </tr>
  <tr class="even">
   <td>
    2 units
   </td>
  </tr>
  <tr class="odd">
   <td>
    3 units
   </td>
  </tr>
  <tr class="even">
   <td>
    5 units
   </td>
  </tr>
  <tr class="odd">
   <td>
    1 unit
   </td>
  </tr>
  <tr class="even">
   <td>
    2
   </td>
  </tr>
  <tr class="odd">
   <td>
   </td>
  </tr>
  <tr class="even">
   <td>
    We know, distance of a point from X-Z plane is equal to the value of
its y-coordinate.
    <br/>
    So, distance of point (2, 3, 5) from X-Z plane is 3 units.
   </td>
  </tr>
  <tr class="odd">
   <td>
    Three Dimensional Geometry
   </td>
  </tr>
 </tbody>
</table>
<table>
 <colgroup>
  <col style="width: 100%"/>
 </colgroup>
 <tbody>
  <tr class="odd">
   <td>
    2-D geometry has ______________ quadrants.
   </td>
  </tr>
  <tr class="even">
   <td>
    1
   </td>
  </tr>
  <tr class="odd">
   <td>
    2
   </td>
  </tr>
  <tr class="even">
   <td>
    4
   </td>
  </tr>
  <tr class="odd">
   <td>
    8
   </td>
  </tr>
  <tr class="even">
   <td>
    3
   </td>
  </tr>
  <tr class="odd">
   <td>
   </td>
  </tr>
  <tr class="even">
   <td>
    2-D geometry can have 2 coordinates each with positive or negative
value.
    <br/>
    Total quadrants = 2*2 = 4.
   </td>
  </tr>
  <tr class="odd">
   <td>
    Three Dimensional Geometry
   </td>
  </tr>
 </tbody>
</table>
<table>
 <colgroup>
  <col style="width: 100%"/>
 </colgroup>
 <tbody>
  <tr class="odd">
   <td>
    3-D geometry has ______________ octants.
   </td>
  </tr>
  <tr class="even">
   <td>
    1
   </td>
  </tr>
  <tr class="odd">
   <td>
    2
   </td>
  </tr>
  <tr class="even">
   <td>
    4
   </td>
  </tr>
  <tr class="odd">
   <td>
    8
   </td>
  </tr>
  <tr class="even">
   <td>
    4
   </td>
  </tr>
  <tr class="odd">
   <td>
   </td>
  </tr>
  <tr class="even">
   <td>
    3-D geometry can have 3 coordinates each with positive or negative
value.
    <br/>
    Total octants = 2*2*2 = 8.
   </td>
  </tr>
  <tr class="odd">
   <td>
    Three Dimensional Geometry
   </td>
  </tr>
 </tbody>
</table>
<table>
 <colgroup>
  <col style="width: 100%"/>
 </colgroup>
 <tbody>
  <tr class="odd">
   <td>
    In which octant does the point (1, 5, 7) lies?
   </td>
  </tr>
  <tr class="even">
   <td>
    1
    <sup>
     st
    </sup>
   </td>
  </tr>
  <tr class="odd">
   <td>
    2
    <sup>
     nd
    </sup>
   </td>
  </tr>
  <tr class="even">
   <td>
    6
    <sup>
     th
    </sup>
   </td>
  </tr>
  <tr class="odd">
   <td>
    7
    <sup>
     th
    </sup>
   </td>
  </tr>
  <tr class="even">
   <td>
    1
   </td>
  </tr>
  <tr class="odd">
   <td>
   </td>
  </tr>
  <tr class="even">
   <td>
    Since the point with all positive coordinates i.e. of the form (+,
+, +) so lie in 1
    <sup>
     st
    </sup>
    octant.
    <br/>
    So, (1, 5, 7) lies in 1
    <sup>
     st
    </sup>
    octant.
   </td>
  </tr>
  <tr class="odd">
   <td>
    Three Dimensional Geometry
   </td>
  </tr>
 </tbody>
</table>
<table>
 <colgroup>
  <col style="width: 100%"/>
 </colgroup>
 <tbody>
  <tr class="odd">
   <td>
    In which octant does the point (-1, – 5, -7) lies?
   </td>
  </tr>
  <tr class="even">
   <td>
    1
    <sup>
     st
    </sup>
   </td>
  </tr>
  <tr class="odd">
   <td>
    2
    <sup>
     nd
    </sup>
   </td>
  </tr>
  <tr class="even">
   <td>
    6
    <sup>
     th
    </sup>
   </td>
  </tr>
  <tr class="odd">
   <td>
    7
    <sup>
     th
    </sup>
   </td>
  </tr>
  <tr class="even">
   <td>
    4
   </td>
  </tr>
  <tr class="odd">
   <td>
   </td>
  </tr>
  <tr class="even">
   <td>
    Since the point with all negative coordinates i.e. of the form (-,
-, -) lie in 7
    <sup>
     th
    </sup>
    octant.
    <br/>
    So, (-1, – 5, -7) lies in 7
    <sup>
     th
    </sup>
    octant.
   </td>
  </tr>
  <tr class="odd">
   <td>
    Three Dimensional Geometry
   </td>
  </tr>
 </tbody>
</table>
<table>
 <colgroup>
  <col style="width: 100%"/>
 </colgroup>
 <tbody>
  <tr class="odd">
   <td>
    In which octant does the point (-1, 5, 7) lies?
   </td>
  </tr>
  <tr class="even">
   <td>
    1
    <sup>
     st
    </sup>
   </td>
  </tr>
  <tr class="odd">
   <td>
    2
    <sup>
     nd
    </sup>
   </td>
  </tr>
  <tr class="even">
   <td>
    6
    <sup>
     th
    </sup>
   </td>
  </tr>
  <tr class="odd">
   <td>
    7
    <sup>
     th
    </sup>
   </td>
  </tr>
  <tr class="even">
   <td>
    2
   </td>
  </tr>
  <tr class="odd">
   <td>
   </td>
  </tr>
  <tr class="even">
   <td>
    Since the point with only x coordinate negative i.e. of the form (-,
+, +) lie in 2
    <sup>
     nd
    </sup>
    octant.
    <br/>
    So, (-1, 5, 7) lies in 2
    <sup>
     nd
    </sup>
    octant.
   </td>
  </tr>
  <tr class="odd">
   <td>
    Three Dimensional Geometry
   </td>
  </tr>
 </tbody>
</table>
<table>
 <colgroup>
  <col style="width: 100%"/>
 </colgroup>
 <tbody>
  <tr class="odd">
   <td>
    In which octant does the point (-1, 5, -7) lies?
   </td>
  </tr>
  <tr class="even">
   <td>
    1
    <sup>
     st
    </sup>
   </td>
  </tr>
  <tr class="odd">
   <td>
    2
    <sup>
     nd
    </sup>
   </td>
  </tr>
  <tr class="even">
   <td>
    6
    <sup>
     th
    </sup>
   </td>
  </tr>
  <tr class="odd">
   <td>
    7
    <sup>
     th
    </sup>
   </td>
  </tr>
  <tr class="even">
   <td>
    3
   </td>
  </tr>
  <tr class="odd">
   <td>
   </td>
  </tr>
  <tr class="even">
   <td>
    Since the point with only y coordinate positive i.e. of the form (-,
+, -) lie in 6
    <sup>
     th
    </sup>
    octant.
    <br/>
    So, (-1, 5, -7) lies in 6
    <sup>
     th
    </sup>
    octant.
   </td>
  </tr>
  <tr class="odd">
   <td>
    Three Dimensional Geometry
   </td>
  </tr>
 </tbody>
</table>

In [150]:
config=soup.find_all('table')[0]
questions=soup.find_all('table')[1:]
no_questions=len(questions)
no_questions

15

In [151]:
# config=pd.read_html(str(config))[0]
# config
questions[0]

<table>
<colgroup>
<col style="width: 100%"/>
</colgroup>
<tbody>
<tr class="odd">
<td>The point (4, 0, 0) lie on _____________</td>
</tr>
<tr class="even">
<td>X-axis</td>
</tr>
<tr class="odd">
<td>Y-axis</td>
</tr>
<tr class="even">
<td>Z-axis</td>
</tr>
<tr class="odd">
<td>Y-Z plane</td>
</tr>
<tr class="even">
<td>1</td>
</tr>
<tr class="odd">
<td></td>
</tr>
<tr class="even">
<td>In 3d coordinate system, a point with y and z coordinate zero and
x-coordinate having non-zero value must lie on x-axis. So, (4, 0, 0) lie
on x-axis.</td>
</tr>
<tr class="odd">
<td>Three Dimensional Geometry</td>
</tr>
</tbody>
</table>

In [152]:
question_set={}
format=["Question","Option A","Option B","Option C","Option D","Correct Answer","Hint","Explanation","Sub-topic"]

In [153]:
rows = config.find_all('tr')
table_dict = {cols[0].text: cols[1].text for row in rows for cols in [row.find_all(['th', 'td'])] if cols}
# print(table_dict)
question_set["Config"]=table_dict
question_set

{'Config': {'Division': '11',
  'Subject': 'Maths',
  'Category': 'Very Easy',
  'No of mcq': '15',
  'Author': 'Auto Scrapper'}}

In [154]:
print(questions[1])

<table>
<colgroup>
<col style="width: 100%"/>
</colgroup>
<tbody>
<tr class="odd">
<td>The point (0, 0, 3) lie on ____________</td>
</tr>
<tr class="even">
<td>X-axis</td>
</tr>
<tr class="odd">
<td>Y-axis</td>
</tr>
<tr class="even">
<td>Z-axis</td>
</tr>
<tr class="odd">
<td>X-Y plane</td>
</tr>
<tr class="even">
<td>3</td>
</tr>
<tr class="odd">
<td></td>
</tr>
<tr class="even">
<td>In 3d coordinate system, a point with x and y coordinate zero and
z-coordinate having non-zero value must lie on z-axis. So, (0, 0, 3) lie
on z-axis.</td>
</tr>
<tr class="odd">
<td>Three Dimensional Geometry</td>
</tr>
</tbody>
</table>

In [177]:
def extract_data(question):
    question_dict = {}
    format = ["Question", "Option A", "Option B", "Option C", "Option D", "Correct Answer", "Hint", "Explanation", "Sub-topic"]

    # Extract the question
    # p_tags = question.find('th').find_all('p')
    # question_text = ' '.join([p.text for p in p_tags[:-1]])  # Join all p tags except the last one (year)
    try:
        question_text=question.find('tr',class_='header').text.strip()
        question_text = re.sub(r'\(\d+\)', '', question_text)  # Remove the year

        question_dict[format[0]] = question_text.strip().replace('\n', ' ')

        # Extract the options
        options = question.find_all('td')
        for i, option in enumerate(options[:5], 1):  # Only the first 5 td tags are options
            if option.find('blockquote'):  # If the option is in a blockquote tag
                text = option.find('blockquote').text.strip().replace('\n', ' ')
            elif option.find('p'):  # If the option is in a p tag
                text = option.find('p').text.strip().replace('\n', ' ')
            else:  # If the option is directly in the td tag
                text = option.text.strip().replace('\n', ' ')
            question_dict[format[i]] = text

        # Extract the correct answer
        mapping = {'1': 'a', 'a': 'a', '2': 'b', 'b': 'b', '3': 'c', 'c': 'c', '4': 'd', 'd': 'd'}

        correct_answer = options[4].text.strip().replace('\n', ' ')
        question_dict[format[5]] = mapping.get(correct_answer,None)

        # Extract the hint (assuming it's the text in the 7th td tag)
        hint = options[5].text.strip().replace('\n', ' ')
        question_dict[format[6]] = hint

        # Extract the explanation
        explanation = options[6]  # Explanation is in multiple p tags
        explanation_text = ' '.join([p.text for p in explanation]).strip().replace('\n', ' ')
        question_dict[format[7]] = explanation_text

        # Extract the sub-topic
        sub_topic = options[7].text.strip().replace('\n', ' ')
        question_dict[format[8]] = sub_topic

        return question_dict
    except:
        for i , content in enumerate(question.find_all('tr')):
            question_dict[format[i]]=content.text.strip()
        return question_dict


    
extract_data(questions[0])

{'Question': 'The point (4, 0, 0) lie on _____________',
 'Option A': 'X-axis',
 'Option B': 'Y-axis',
 'Option C': 'Z-axis',
 'Option D': 'Y-Z plane',
 'Correct Answer': '1',
 'Hint': '',
 'Explanation': 'In 3d coordinate system, a point with y and z coordinate zero and\nx-coordinate having non-zero value must lie on x-axis. So, (4, 0, 0) lie\non x-axis.',
 'Sub-topic': 'Three Dimensional Geometry'}

In [160]:
cont='''
<table>
<colgroup>
<col style="width: 100%"/>
</colgroup>
<tbody>
<tr class="odd">
<td>The point (0, 0, 3) lie on ____________</td>
</tr>
<tr class="even">
<td>X-axis</td>
</tr>
<tr class="odd">
<td>Y-axis</td>
</tr>
<tr class="even">
<td>Z-axis</td>
</tr>
<tr class="odd">
<td>X-Y plane</td>
</tr>
<tr class="even">
<td>3</td>
</tr>
<tr class="odd">
<td></td>
</tr>
<tr class="even">
<td>In 3d coordinate system, a point with x and y coordinate zero and
z-coordinate having non-zero value must lie on z-axis. So, (0, 0, 3) lie
on z-axis.</td>
</tr>
<tr class="odd">
<td>Three Dimensional Geometry</td>
</tr>
</tbody>
</table>
'''
soup=BeautifulSoup(cont,'html.parser')
# extract_data(BeautifulSoup(cont))

In [172]:
for i in soup.find_all('tr'):
    print(i.text.strip())

The point (0, 0, 3) lie on ____________
X-axis
Y-axis
Z-axis
X-Y plane
3

In 3d coordinate system, a point with x and y coordinate zero and
z-coordinate having non-zero value must lie on z-axis. So, (0, 0, 3) lie
on z-axis.
Three Dimensional Geometry

In [178]:
question_set["Questions"]=[extract_data(question) for question in questions]

In [179]:
extract_data(questions[1])

# counter=0
# for question in questions:
#     counter+=1
#     print(counter)
#     print(extract_data(question))

{'Question': 'The point (0, 0, 3) lie on ____________',
 'Option A': 'X-axis',
 'Option B': 'Y-axis',
 'Option C': 'Z-axis',
 'Option D': 'X-Y plane',
 'Correct Answer': '3',
 'Hint': '',
 'Explanation': 'In 3d coordinate system, a point with x and y coordinate zero and\nz-coordinate having non-zero value must lie on z-axis. So, (0, 0, 3) lie\non z-axis.',
 'Sub-topic': 'Three Dimensional Geometry'}

In [129]:
sel_question=questions[47]
# def extqs(sel_question):
# Extract the question
# ques=sel_question.find('thead').find('p').text.strip().replace('\n', ' ') 
# for i in questions:
p_tags = sel_question.find('th').find_all('p')
ques = ' '.join([p.text for p in p_tags[:-1]])  # Join all p tags except the last one (year) 
ques = re.sub(r'\(\d+\)', '', ques)  # Remove the year 
# print(f"Question {questions.index(i)} : {ques}") 

opta=sel_question.find('tbody').find_all('tr')[0].text.strip().replace('\n', ' ')
optb=sel_question.find('tbody').find_all('tr')[1].text.strip().replace('\n', ' ')
optc=sel_question.find('tbody').find_all('tr')[2].text.strip().replace('\n', ' ')
optd=sel_question.find('tbody').find_all('tr')[3].text.strip().replace('\n', ' ')
coropt=sel_question.find('tbody').find_all('tr')[4].text.strip().replace('\n', ' ')
hint=sel_question.find('tbody').find_all('tr')[5].text.strip().replace('\n', ' ') 
exp=sel_question.find('tbody').find_all('tr')[6].text.strip().replace('\n', ' ') 
subt=sel_question.find('tbody').find_all('tr')[7].text.strip().replace('\n', ' ')
data=[ques,opta,optb,optc,optd,coropt,hint,exp,subt]

for i in questions:
    print(f"""Question {questions.index(i)} : {i.find('tr',class_='header').text.strip() }  """ )

Question 0 : Which among the following represent intercepted in Arrhenius
plot
(2012)
Question 1 : Half-life period in first order reaction depends upon
(2011)
Question 2 : What would be the unit of k in the given reaction
K
A +B → C and the given reaction is a homogeneous reaction
(2015)
Question 3 : Which among the following can increase the rate constant of
reaction
(2010)
Question 4 : The given reaction is
2N₂O₅ ⇔2N₂O₄ + O₂
(2008)
Question 5 : Calculate the half-life period of a first order reaction where
specific rate constant is 2min⁻¹
(2003)
Question 6 : In Arrhenius plot slope Is
(2002)
Question 7 : Find the time taken for completing half reaction if the initial
concentration of zero order reaction is reduced to 1/4thh
(2004)
Question 8 : For the zero-order reaction rate constant is equals to
(2017)
Question 9 : Half-life for second order reaction is
(2003)
Question 10 : Rate constant for first order reaction is 2.6 × 10⁻¹⁴ s⁻¹. Find
the half-life period of the reaction
(2010)
Question 11 : Which among the following is equals to threshold energy
(2009)
Question 12 : The given reaction is the example of
SO₂Cl₂ → SO₂ + Cl₂
(2007)
Question 13 : Which statement is not true about the rate of reaction
(2004)
Question 14 : If the value of k is 5.48 × 10⁻¹⁴ s⁻¹, calculate two third life
of a first order reaction
(2003)
Question 15 : The order of the given reaction is
2N₂O₅ ⇔2N₂O₄ + O₂
(2008)
Question 16 : Find the rate constant, if the concentration of reactant is
increased by x
(2011)
Question 17 : The subject of chemical kinetics can be explained by
(2001)
Question 18 : The plot of concentration versus time is linear for zero order
reaction when
(2006)
Question 19 : L²mol⁻²s⁻¹ is the unit of rate constant for
(2003)
Question 20 : Half-life period of a first order reaction is 1386 s. The
specific rate constant of the reaction is
(2009)
Question 21 : If 60% of a first order reaction
was completed in 60
min, 50% of the same reaction would be
completed in approximately (log4 = 0.60,
log5 = 0.69)
(2007)
Question 22 : In a first order reaction, A → B1 if k is rate constant and initial
concentration of the reactant A is 0.5M, then the half-life is
(2007)
Question 23 : For a first order reaction, A → B,
the reaction rate at reactant concentration of 0.01M is found to be 2.0 × 10−5 mol
L−1 s−1. The half-life
period of the reaction is
(2005)
Question 24 : If the rate of a reaction is equal to the rate constant, the
order of the reaction is
(2003)
Question 25 : The reaction, A → B follows first order
kinetics. The time taken for 0.8 mole of A to produce 0.6 mole of B is 1h. What is the time taken for
the conversion of 0.9 mole of A to 0.675 mole of ?
(2003)
Question 26 : For a first-order reaction, the half-life period is independent
of
(2003)
Question 27 : The plot of concentration of the reactant versus time for a
reaction is a straight line with a negative slope. This reaction
follows
(2001)
Question 28 : A substance A
decomposes by a first order reaction starting initially with [A] = 2.00 m and after
200 min , [A] becomes 0.15 m. For this reaction t1/2 is
(2006)
Question 29 : The decomposition of N2O5 follows a
zero-order reaction. If the initial concentration of
N2O5 is 0.2 M and the rate constant is 0.05 M/s,
what will be the concentration of N2O5 after 10
seconds?
(2013)
Question 30 : Which of the following statements is true for a first-order
reaction?
(2002)
Question 31 : The reaction order can be determined from
(2005)
Question 32 : What is the overall order of a third-order reaction if the
individual orders of the reactants are 2, 1, and 0, respectively?
(2012)
Question 33 : The half-life of a third-order reaction depends on the:
(2015)
Question 34 : The half-life of a second-order reaction depends on
(2013)
Question 35 : The half-life of a zero-order reaction is directly proportional
to:
(2007)
Question 36 : The half-life of a zero-order reaction is:
(2002)
Question 37 : If the initial concentration of a reactant in a zero-order
reaction is doubled, how does the half-life change?
(2012)
Question 38 : The half-life of a first-order reaction is:
(2001)
Question 39 : For a first-order reaction, the relationship between the rate
constant (k) and the half-life (t1/2) is:
(2013)
Question 40 : According to collision theory, a chemical reaction occurs
when
(2009)
Question 41 : Collision theory states that an increase in temperature:
(2006)
Question 42 : Which of the following factors can affect the magnitude of the
activation energy?
(2011)
Question 43 : Increasing the temperature generally affects the activation
energy by
(2015)
Question 44 : In an activation energy diagram, the energy difference between
the reactants and the transition state represents:
(2014)
Question 45 : The activated complex or transition state in an activation energy
diagram corresponds to a:
(2006)
Question 46 : The Arrhenius equation relates the rate constant (k) of a
chemical reaction to which of the following factors?
(2013)
Question 47 : According to the Arrhenius equation, as the temperature increases,
the rate constant (k) of a reaction:

In [21]:
question_set=dict(zip(format,extqs(sel_question)))

In [26]:
# question_set
extqs(sel_question)

['The given reaction is', 'Unimolecular', 'Multimolecular', 'Bimolecular', 'None of the above', 'c', 'The number of reacting species taking part in an elementary reaction which must collide simultaneously in order to bring about chemical reaction is called molecularity of a reaction.', 'The given reaction 2N₂O₅ ⇔2N₂O₄ + O₂ It is bimolecular and first order reaction because rate is directly proportional to the reactant [N₂O₅].', 'Instantaneous rate']

In [23]:
questions[4].find('tbody')

<tbody>
<tr class="odd">
<td><blockquote>
<p>Unimolecular</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p>Multimolecular</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>Bimolecular</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p>None of the above</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>c</td>
</tr>
<tr class="even">
<td>The number of reacting species taking part in an elementary reaction
which must collide simultaneously in order to bring about chemical
reaction is called molecularity of a reaction.</td>
</tr>
<tr class="odd">
<td><p>The given reaction 2N₂O₅ ⇔2N₂O₄ + O₂</p>
<p>It is bimolecular and first order reaction because rate is directly
proportional to the reactant [N₂O₅].</p></td>
</tr>
<tr class="even">
<td>Instantaneous rate</td>
</tr>
</tbody>